/.phpunit.cache
/node_modules
/public/build
/public/build_redesign
/public/build_old2
/public/hot
/public/js/tinymce
/public/storage

# Ignore uploaded files but keep folder structure
/public/uploads/**
!/public/uploads/**/
!/public/uploads/**/.gitkeep

/storage/*.key
app/analytics/*.json
/vendor

.env
.env.backup
.env.production

.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json

npm-debug.log
yarn-error.log

/.fleet
/.idea
/.vscode
